<!DOCTYPE html>
<!--[if IE 8]> <html lang="fr" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="fr" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->

    <head>
        {{> head}}
    </head>

    <body id="page-top" class="index">
        {{> navigation}}

        {{> body}}

        {{> footer}}

        <!-- jQuery Version 1.11.0 -->
        <script src="{{assets}}/js/jquery-1.11.0.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{assets}}/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="{{assets}}/js/classie.js"></script>
        <script src="{{assets}}/js/cbpAnimatedHeader.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{assets}}/js/agency.js"></script>

        {{#if productiond}}
          {{ ga }} {{! see ./templates/helpers/ga.js }}
        {{/if}}
    </body>
</html>
