<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{content.contact.title}}</h2>
                <h3 class="section-subheading text-muted">{{content.contact.description}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <table class="contact">
                            <tr>
                                <th colspan="2" class="text-center">
                                    <strong>{{ content.contact.name }}</strong>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                                    </span>
                                </td>
                                <td>
                                    {{ content.contact.adresse1 }}<br>
                                    {{ content.contact.adresse2 }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </td>
                                <td>
                                    <a href="mailto:#">{{ content.contact.email }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </td>
                                <td>
                                    <a href="{{ site.social.twitter }}" target="_blank">{{ content.contact.twitter }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </td>
                                <td>
                                    <a href="{{ site.social.github }}" target="_blank">{{ content.contact.github }}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <a target="_blank" href="{{ content.contact.map_url }}"><img class="img-responsive thumbnail" src="/images/map.jpg" /></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>



