<section id="coworkers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ content.coworkers.title }}</h2>
                <h3 class="section-subheading text-muted">{{{ content.coworkers.description }}}</h3>
            </div>
        </div>

        <div class="row">
            {{#each content.coworkers.coworkers}}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="team-member">
                        <a href="{{ link }}" target="_blank">
                            <img src="/images/coworkers/{{ image }}" class="img-responsive img-circle" alt="">
                        </a>
                        <h4>{{ name }}</h4>
                        <p class="text-muted">{{ position }}</p>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">{{ content.coworkers.subtitle }}</p>
            </div>
        </div>
    </div>
</section>
