<meta charset="utf-8">

<title>
  {{default title page.basename}}
</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta content="{{default description site.description}}" name="description">
<meta content="{{default keywords site.keywords}}" name="keywords">
<meta content="Amabla" name="author">

<meta property="og:site_name" content="{{site.brand}}">
<meta property="og:title" content="{{site.title}}">
<meta property="og:description" content="{{site.description}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{site.url}}">

<link rel="shortcut icon" href="favicon.ico">

<link href="{{assets}}/css/bootstrap.min.css" rel="stylesheet">
<link href="{{assets}}/css/site.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{{assets}}/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
