<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ content.offers.title }}</h2>
                <h3 class="section-subheading text-muted">{{{ content.offers.description }}}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ content.offers.offer1.title }}</h4>
                <h2 class="service-heading">{{ content.offers.offer1.tarif }}*</h2>
                <p class="text-muted">{{{ content.offers.offer1.description }}}</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ content.offers.offer2.title }}</h4>
                <h2 class="service-heading">{{ content.offers.offer2.tarif }}*</h2>
                <p class="text-muted">{{{ content.offers.offer2.description }}}</p>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-6 col-md-offset-3 well"><em>{{ content.offers.tarif_maximum }}</em></div>         
        </div>
    </div>
</section>










